nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
}

nav .leftContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .leftContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 153, 85, 0);
  font-size: 1.2rem;
}

nav .leftContent li:hover {
  -webkit-box-shadow: 0px 0px 100px 30px #FF9955;
          box-shadow: 0px 0px 100px 30px #FF9955;
}

nav .leftContent li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

nav .leftContent li button {
  width: 100px;
  border: 2px solid black;
  background-color: white;
}

nav .middleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .middleContent input {
  margin: 1rem;
  font-size: 1.2rem;
}

nav .middleContent button {
  width: 6rem;
  height: 2rem;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

nav .rightContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .rightContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  margin-right: 20%;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 153, 85, 0);
  font-size: 1.2rem;
}

nav .rightContent li:hover {
  -webkit-box-shadow: 0px 0px 100px 30px #FF9955;
          box-shadow: 0px 0px 100px 30px #FF9955;
}

nav .rightContent li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

nav .rightContent img {
  cursor: pointer;
  width: 2rem;
}

nav .rightContent .cartCount {
  display: none;
  border-radius: 50%;
  min-width: 1rem;
  height: 1rem;
  background-color: orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}
/*# sourceMappingURL=navbar.css.map */